<template>
  <div class="container">
    <div class="mt-5 p-5 text-center">
      {{posts}}
    </div>
  </div>
</template>
<script>
    export default {
        name: 'Content',
        data() {
            return {
                posts: [],
            }
        },
        created() {

        },
        async mounted() {
          const res = await this.$axios.get('https://jsonplaceholder.typicode.com/posts')
          console.log(res)
        }
    }
</script>
<style>

</style>
