<template>
<footer>
  <div class="container">
   <ul>
      <li>Вакансии</li>
      <li>Реклама</li>
      <li>Блог </li>
      <li>Справка</li>
      <li>Участие в исследованиях</li>
      <li>Предложения</li>
      <li>Служба поддержки</li>
      </ul>
      </div>
</footer>
</template>

<script>
export default {
  name: 'footers'
}
</script>

<style lang="scss" scoped>
footer{
  background:rgb(27, 21, 21);
  padding: 1.82rem 0;
   .container{width: 90rem;
  margin: 0 auto;

   ul{
      width: 50rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 20rem;

    li{
      cursor: pointer;
      list-style-type: none;
      font-size: .9rem;
      color: rgb(164, 161, 161);
      &:hover{
        color: orange;
      }
    }

   }
   }
}
</style>
