<!-- Please remove this file from your project -->
<template>
<header>
  <div class="container">
    <div>
      <div class="header_logo">
        <span class="K">КИНО</span>
        <span>ПОИСК</span>
      </div>
      <div class="header_item">
        <input type="text" placeholder="Фильмы, сериалы, персоны">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,9H11a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M7,9H4A1,1,0,0,1,4,7H7A1,1,0,0,1,7,9Z"/><path d="M21,17H4a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z"/><path d="M11,25H4a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z"/><path d="M9,11a3,3,0,1,1,3-3A3,3,0,0,1,9,11ZM9,7a1,1,0,1,0,1,1A1,1,0,0,0,9,7Z"/><path d="M23,19a3,3,0,1,1,3-3A3,3,0,0,1,23,19Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,15Z"/><path d="M13,27a3,3,0,1,1,3-3A3,3,0,0,1,13,27Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,13,23Z"/><path d="M28,17H25a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z"/><path d="M28,25H15a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
        <svg class="serch" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="485.213px" height="485.213px" viewBox="0 0 485.213 485.213" style="enable-background:new 0 0 485.213 485.213;"
          xml:space="preserve">
        <g>
          <g>
            <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324
              c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z"/>
            <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951
              C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46
              c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465
              C318.424,257.208,257.206,318.416,181.956,318.416z"/>
            <path d="M75.817,181.955h30.322c0-41.803,34.014-75.814,75.816-75.814V75.816C123.438,75.816,75.817,123.437,75.817,181.955z"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
      </div>
      <ul>
      <li>Главная</li>
      <li>Фильмы</li>
      <li>Сериалы</li>
      <li>Медиа</li>
      <li>Войти</li>
      </ul>
    </div>
  </div>
</header>
</template>

<script>
export default {
  name: 'Headers'
}
</script>
<style lang="scss" scoped>

header{
  background:rgb(27, 21, 21);
  padding: 1.82rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .container{width: 90rem;
  margin: 0 auto;
 div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .header_logo{
    .K{
        color: orange;
        font-weight: 800;
      }
    span{
      font-size: 1.7rem;
      font-weight: 800;
    }
  }
  .header_item{
    position: relative;
    margin-left: 4rem;

    input{
      position: relative;
      width:24rem;
      padding: .5rem;
      border-radius: 8px;
      border: none;
      font-size: .9rem;
      color: rgb(70, 69, 69);
    }
    svg{
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 20rem;
      top: 0.3rem;
      fill: rgb(93, 93, 93);
      &:hover{
        fill:orange;
      }
      &.serch{
      width: 1.15rem;
      height: 1.15rem;
      position: absolute;
      left: 22.5rem;
      top: 0.5rem;
      fill:  rgb(93, 93, 93);
       &:hover{
        fill:orange;
      }
      }
    }
   }
   ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    li{
      cursor: pointer;
      list-style-type: none;
      margin-right:2rem ;
      font-size: .9rem;
      &:hover{
        color: orange;
      }
    }

   }
  }
 }
}
</style>

9
