@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  color: #ffffff;
}

html, body{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html{
  font-size: 1vw;
}

body{
  background: rgb(255, 255, 255);
}

a, input, button, svg, img{
  outline: none;
}

a{
  text-decoration: none;
}

a, svg, article{
  cursor: pointer;
}


footer{
  color: #fff;
}
