<template>
<div>
  <Headers />
  <Content />
  <Footers />
</div>
</template>

<script>
import Headers from "../components/Headers";
import Content from "../components/content";
import Footers from "../components/footers";
export default {
  name: 'IndexPage',
  components: {Footers, Content, Headers}
}
</script>


